spring:
  application:
    name: user-service

  datasource:
    url: jdbc:mysql://localhost:3306/finvault_user_db
    username: root
    password: Kaif@2004

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

  # ? This stops the annoying generated password in the logs
  security:
    user:
      name: user
      password: password

  main:
    allow-circular-references: true

server:
  port: 8081

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${random.value}